.card2 {
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 59%) 6px 6px 20px 6px;
  border-radius: 20px;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  flex-direction: column;
  margin-bottom: 25px;
}

.cardcontext {
  width: 100%;
  margin: 0px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.334;
  color: rgb(23, 33, 94);
  border-bottom: 5px solid;
  padding-bottom: 8px;
}

.cardcontext2 {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
}
.cardtext2 {
  margin-bottom: 5px;
  font-size: x-large;
}
