.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.asd{
    font-size: x-large ;
    cursor: pointer;
    padding: 7px 40px;
    border: 1px solid #f2b04f;
    background-color: #f2b04f;
    color: white;
    border-radius: 6px;
}

.asd:hover,
.asd:active {
  background-color: #ebc489;
  border-color: #ebc489;
}
