.card {
  background: white;
  box-shadow: rgb(0 0 0 / 59%) 6px 6px 20px 6px;
  border-radius: 20px;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbf1e1;
  flex-direction: column;
  margin-bottom: 25px;
}

.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
.new-expense__input {
  width: 360px;
  height: 53px;
  align-items: center;
  display: flex;
  text-align: right;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  border: 1px solid rgb(85, 85, 85);
  border-radius: 10px;
}

.new-expense__input2 {
  width: 250px;
  height: 50px;
  border: 0px;
  outline: none;
  text-align: right;
  margin-right: 10px;
  font-size: x-large;
}
.new-expense__input3 {
  margin-right: 10px;
  font-size: x-large;
}
.new-expense__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.new-expense__buttondiv {
  font-size: x-large;
  cursor: pointer;
  color: white;
  border-radius: 6px;
  margin-bottom: 10px;
}
.new-expense__button {
  width: 360px;
  height: 60px;
  font-size: large;
  cursor: pointer;
  border: 1px solid #f2b04f;
  background-color: #f2b04f;
  color: white;
  border-radius: 10px;
  margin-bottom: 0px;
}

.new-expense__button:hover,
.new-expense__button:active {
  background-color: #ebc489;
  border-color: #ebc489;
}
