@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  color: rgb(23, 33, 94);
  background: radial-gradient(
    circle at top right,
    rgba(23, 33, 94, 0.9) 0,
    #f2b04f 25%
  );
}

.main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}
.main_div {
  background-color: green;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 450px;
}